%h1 Welcome to Wit.com, bitches!!
%p For now, there's not a whole lot you can do...
%div.exhibitor
	=image_tag "ubuntu.png"
	=image_tag "centos.png"
	=image_tag "fedora.png"
	=image_tag "gentoo.png"
	=image_tag "windows.png"
