%h1 Welcome to Wit
%p
%p We are in super secret stealth mode and looking for a few great alpha users.
%p
%p Give us your email address and we'll hook you up with an invite as soon as we can.

= render 'form'

= link_to 'Back', invite_requests_path
